html
{
    scroll-behavior: smooth;
}
  
body
{
    margin: 0;
    background-color:black;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 185px;
    position: fixed;
    height: 100%;
    overflow: auto;
}
  
li a 
{
    display: block;
    color: white;
    padding: 30px 16px;
    text-decoration: none;
    text-align: center;
    opacity: 0.6;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}
  
li a:hover:not(.active)
{
    color: white;
    opacity: 1;
    border-bottom: 1px solid white;
}
.sidebar
{
    float:left;
}
  
